<h1> EJEMPLO DE DIAMAND CONECTANDO FRONTEND CON BACKEND</h1>
<p>https://github.com/ldiamand/tallerIV_frontend/commit/f138e0ad377a5509fa0c98e67203f259f0035597</p>


<div class="recuadro_principal"> 
    <h1>Mesas Abiertas</h1>
    <button (click) = "VerOcutalLista()"> {{verOcultar}} </button>

    <label *ngIf = "verLista">
       <p> <input type = "button" (click) = "verMesasAbiertas()" value = "Actualizar"> </p>
    
        <li *ngFor = "let mesaAbiertas of mesas, let i=index" class="recuadro_secundario" >     
                <ul> Numero de mesa: {{mesaAbiertas.numero_mesa}} </ul>
                <ul> Estado: {{mesaAbiertas.estado}}</ul>
                <p> Lista de Productos: </p>
                <ul *ngFor = "let producto of mesaAbiertas.listaProductos">
                    Numero de producto: {{producto.numeroProducto}} | {{producto.nombre}} | {{producto.precio}}                
                </ul>
                <ul *ngFor = "let item of [precioTotal]">
                    Precio total de la mesa: {{item[i]}}
                </ul>
        </li>   
    </label>
</div>

<div class = "recuadro_principal">
    <h1>Abrir una nueva mesa </h1>   
    <p>Numero de mesa: <input type="number" [formControl] = "numeroMesa" placeholder="numero de la mesa" > </p>    
    <p> <label> Productos </label> </p>
    <select [formControl] = "numeroDeProducto" >
            <option *ngFor = "let producto of productos" value={{producto.numeroProducto}}> 
                {{producto.numeroProducto}} | {{producto.nombre}} | {{producto.precio}}
            </option>
    </select>
    <p> <input type = "button" value = "Enviar" (click) = "enviarServidorProductoAMesa()"> </p>
</div>


<div class = "recuadro_principal">
    <h3>Agregar un producto a una mesa</h3>
    <p>
        <label> Mesas</label>
        <select [formControl] = "numeroMesa" >      
            <option *ngFor = "let mesa of mesas" value={{mesa.id}}> 
                ID de la mesa "{{mesa.id}}" | Numero de la mesa "{{mesa.numero_mesa}}" | Estado: "{{mesa.estado}}"
            </option>
      </select>
    </p>
        <p> <label> Productos </label> </p>
        <select [formControl] = "numeroDeProducto" >
                <option *ngFor = "let producto of productos" value={{producto.numeroProducto}}> 
                    {{producto.numeroProducto}} | {{producto.nombre}} | {{producto.precio}}
                </option>
        </select> 
    
    <p> <input type = "button" value = "Enviar" (click) = "actualizar()"> </p>
</div>


<div>
    <h1> Agregar mas de un producto</h1>
    <p>
        VER EL TEMA DE FORM-ARRAY !!! 
    </p>
    <p>
        <label> Mesas</label>
        <select [formControl] = "numeroMesa" >      
            <option *ngFor = "let mesa of mesas" value={{mesa.id}}> 
                ID de la mesa "{{mesa.id}}" | Numero de la mesa "{{mesa.numero_mesa}}" | Estado: "{{mesa.estado}}"
            </option>
      </select>
    </p>


    <p> <label> Productos </label> </p>
        <select>
                <option *ngFor = "let producto of productos, let i = index" value = ""> 
                    {{producto.numeroProducto}} | {{producto.nombre}} | {{producto.precio}}
                </option>
        </select>
        
        <select>
            <option *ngFor = "let producto of productos" value = "productosAgregar"> 
                {{producto.numeroProducto}} | {{producto.nombre}} | {{producto.precio}}
            </option>
    </select>

    <select >
        <option *ngFor = "let producto of productos" value = "productosAgregar"> 
            {{producto.numeroProducto}} | {{producto.nombre}} | {{producto.precio}}
        </option>
    </select>
    <input type="submit" (click) = "AgregarMuchosProductos()" value= "Agregar muchos Productos"/>


</div>



<div class = "recuadro_principal">
    <h1>Cobrar una mesa</h1>
    <div class="recuadro_secundario">
        <select [formControl] = "numeroMesa" >      
            <option *ngFor = "let mesa of mesas" value={{mesa.id}}> 
                ID de la mesa "{{mesa.id}}" | Numero de la mesa "{{mesa.numero_mesa}}" | Estado: "{{mesa.estado}}"
            </option>
        </select>
        <p> <button type = "submit" (click) = "cobrarMesa()">Cobrar </button> </p>
    </div>

    
    <div class="recuadro_secundario">
        <h4>Cobrar un Producto</h4>
        <select [formControl] = "numeroMesa" >      
            <option *ngFor = "let mesa of mesas" value={{mesa.id}}> 
                ID de la mesa "{{mesa.id}}" | Numero de la mesa "{{mesa.numero_mesa}}" | Estado: "{{mesa.estado}}"
            </option>
        </select>


        <p> <label> Productos </label> </p>
        <select [formControl] = "numeroDeProducto" >
                <option *ngFor = "let producto of productos, let e" value={{producto.numeroProducto}}> 
                    {{producto.numeroProducto}} | {{producto.nombre}} | {{producto.precio}}
                </option>
        </select>
        <p> <button type = "submit" (click) = "cobrarUnProducto()">Cobrar un producto </button> </p>



    </div>
</div>






<div class = "recuadro_principal">
    <h1>Ver Detalles de la Mesa</h1>
    <p> <button type = "submit" (click) = "verMesasAbiertas()"> Ver Mesa </button> </p>
</div>

<div class="recuadro_principal">
    hacer un recuadro azul grande y un recuadro pequeño en azul para separar cuando ingreso los datos del producto.
    <p>Agregar pedir resumenes mensuales, resumenes semanales</p>
</div> 



<div class="recuadro_secundario">
    <button (click) = "VerListaProducto()">Ver lista de productos</button>
    <table>
     <tr  *ngFor="let producto of productos">
        <th class="tabla_productos">{{producto.numeroProducto}}</th>
        <th class="tabla_productos">{{producto.nombre}} </th>
        <th class="tabla_productos">{{producto.precio}}</th>
    </tr>       
    </table>
</div>



<form [formGroup] = "agregarProducto" (submit) = "enviarProducto()">
    <div class = "recuadro_principal">
        <h1> Agregar Producto A la Bases de Datos</h1>    
            <p>Numero de producto: <input type="number" placeholder="numero del producto" formControlName="numeroProducto" /></p>
            <p>Nombre: <input type="text" placeholder="nombre del producto" formControlName = "nombre" /></p>
            <p>Precio: <input type="number" placeholder="precio del producto" formControlName = "precio" /></p>
            <p><input type="submit" value="Enviar Producto" [disabled] = "!agregarProducto.value"/></p>            
    </div>
</form>


<div>

<p>PARA MODIFICAR LOS PRECIOS COPIAR LA IDEA DE ACA: (minuto 8,15 mas o menos)</p>
<a> https://www.youtube.com/watch?v=xd5dauBh8Y4&list=RDCMUCdulIs-x_xrRd1ezwJZR9ww&index=8&ab_channel=pildorasinformaticas </a>
</div>