<h1> EJEMPLO DE DIAMAND CONECTANDO FRONTEND CON BACKEND</h1>
<p>https://github.com/ldiamand/tallerIV_frontend/commit/f138e0ad377a5509fa0c98e67203f259f0035597</p>


<div class="recuadro_principal">
    <h1>Mesas Abiertas</h1>
<!--    <input type = "button" (click) = "ActualizarMesas()" name = "boton" >  -->
    Este boton que esta comentado llama a la funcion o metodo "actualizarmesas" y ese metodo va a buscar todos los datos 
    al backend de las mesas abiertas con sus productos y sus precios
    <ul>
    </ul>
</div>



<div class="recuadro_principal">
    <form [formGroup] = "agregarProductoMesa" (ngSubmit) = "EnviarServidorProductoAMesa()"> 
        <h1> Agregar Producto a una Mesa </h1>     

        <input type="number" placeholder="id de la mesa"  formControlName= "idMesa" />
         
 
       <!-- ingrese: {{agregarProducto.idProducto.value}}-->
            <div formGroupName = "idProducto" class = "recuadro_secundario"> 
                <input type="number" placeholder="id del grupo del producto" formControlName = "idGrupo" />
                <input type="number" placeholder="id del producto" formControlName = "idProducto" />
                <input type="text" placeholder="nombre del producto" formControlName = "nombre" />
                <!--     Ver si conviene hacer un <datalist> con los nombres de los productos -->                
             
            </div>

        <input type = "datetime-local" placeholder= "Introducir fecha y hora" required formControlName = "fechaHora" >
        
        <p> <button type = "submit"> Enviar </button> </p> 
    </form>

</div>

<div class = "recuadro_principal">
    <h1>Cobrar Mesa</h1>
    <div class="recuadro_secundario">

<!--
        <input type="number" placeholder="id de la mesa" formControl = "cobrarIdMesa" >
-->

        <p> <button type = "submit">Cobrar </button> </p>
    </div>
    <div class="recuadro_secundario">
        <h4>Cobrar un Producto</h4>

<!--
        <input type = "number" placeholder="id de la mesa" [formControl] = "cobrarIdMesa">
       <input type = "number" placeholder="id del producto" [formControl] = "cobrarIdProducto">

       <p><button type = "submit">Cobrar un Producto </button></p>
--> 

</div>
</div>

<div class = "recuadro_principal">
    <h1>Ver Detalles de la Mesa</h1>
   
<!--
            <input type="number" placeholder="id de la mesa" [formControl] = "cobrarIdMesa" >
-->

        <p> <button type = "submit"> Ver Mesa </button> </p>
</div>

<div class="recuadro_principal">
    hacer un recuadro azul grande y un recuadro pequeño en azul para separar cuando ingreso los datos del producto.
    <p>Agregar pedir resumenes mensuales, resumenes semanales</p>

</div>







































<!--  

    <div class="recuadro">
    <h1>Mesas Abiertas</h1>
    <ul>
    <li> lista de mesas abiertas ... </li>
    </ul>
</div>


<div class = "recuadro">
    <form>    
        <h1>Agregar Producto a una Mesa</h1>
        <ul>
            <li>  
                <label for="id_mesa" >  Id de la Mesa </label> 
                <input type="number" placeholder="id de la mesa" id = "id_mesa" required />
            </li>
            <li>
                <label for="id_del_producto" >  Id del producto </label>
                <input type = "number" placeholder= "id grupo del producto" id = "id_del_producto">
                <input type="number" placeholder = "id del producto" id = "id_del_producto" >   
            </li>
            <li>
                <label for="nombre_producto"> Nombre del producto</label>
                <input type="text" placeholder= "nombre_producto"> 
    
                Agarrar lo que escribe el usuario y pasarlo a minusculas
    Ver si conviene hacer un <datalist> con los nombres de los productos
   
        

        </li>
            <li>
                <label for="fecha">Hora y Fecha</label>
                <input type = "datetime-local" placeholder= "Introducif fecha y hora" required />
            </li>
            
            <button type =  "submit" id = "id_mesa" > Enviar </button>
        </ul>
    </form>    
</div>


<div class= "recuadro">
    <h1> Cobrar Mesa </h1>
    <form>
        <label for = "id_mesa"> Id de la mesa a cobrar:
            <input type="number" id="id_mesa" placeholder= "id mesa"> 
            <button> Enviar id</button>
        </label>
    </form>
 
 Pedir id de una mesa y 
 




</div>


<div class = "recuadro">
    <h1> Ver detalles de una mesa </h1>
    <form>
        <label for = "id_mesa"> Id de la mesa:
            <input type="number" id="id_mesa" placeholder= "id mesa"> 
            <button> Enviar id</button>
        </label>
    </form>
 
 Pedir id de una mesa y 
 
 
 div>
 
 
 Elegir un id de una mesa y hacer un pedido y traer todos los productos con sus precio de la mesa
    <form action="" method="post">
        <label for="POST-name">Nombre:</label>
        <input id="POST-name" type="text" name="name">
        <input type="submit" value="Save">
    </form>
 


<div class = "recuadro">
    <h1> Resumenes </h1>
    <form>
        <label for = "resumen_mensual"> Resumen mensual:
            <input type="month" id="resumen_mensual" placeholder= "mes a elegir"> 
            <button> Pedir Resumen</button>

            <button (click)= deleteHero() >Borrar heroe</button>
         </label>
    </form>
</div>
    





//Cuando agrego un producto le paso el id de la mesa para saber que mesa es

//Luego le digo que producto quiero agregar y lo envio a una tabla Mesa-Producto

//Al cobrar una mesa la mesa pasa a estar cerrada.

//(Las mesas CERRADAS quieren decir que la mesa esta desocupadupa
//Las mesas ACTIVAS O ABIERTAS son mesas que en el momento estan abiertas)

-->