<!--The content below is only a placeholder and can be replaced.-->


<div id="page">
    <h1 class = "titulo1"> La Corte </h1>
    <h1 class = "titulo2"> Café y Tragos </h1>
    
  <!--
          <p>
            <a [routerLink] = "['mibar']"><input type = "button" class = "botonespecial resaltador" value= "Ingresar a Mi_Bar">   </a>          
          </p>
 -->
    <nav>
        <p>
            <a href="#ir_menu"> <input class = "boton1 resaltador" type = "button" value = "Menu"> </a>
            <a href="#ir_carta"><input  class = "boton1 resaltador" type = "button" value = "Carta"> </a>
            <a href="#ir_tragos"><input  class = "boton1 resaltador" type = "button" value = "Tragos"></a>
            <a href="#ir_quienessomos"><input  class = "boton1 resaltador" type = "button" value = "Quienes Somos"></a>
            <a href="#ir_contactenos"><input  class = "boton1 resaltador" type = "button" value = "Contactenos"></a>
        </p>
        
        <h1 class = "tituloprincipal">15 años creando encuentros</h1>
<!--          <h1 class = "tituloprincipal"> Los mejores Cafes & Tragos en Arroyo </h1> -->
        <h1 class = "titulo2"> Sabemos de café</h1>
        <h3 class = "titulo3"> Si no existieran los cafés, muchas cosas jamás habrían sido hechas, dichas, ni pensadas.</h3>
    
    </nav>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium incidunt fugit voluptates mollitia adipisci amet dicta dignissimos consequatur sunt vitae quaerat commodi error exercitationem magni earum iure, delectus deleniti autem perspiciatis! Voluptatem fugit laborum culpa, dolorem nesciunt eos labore modi perspiciatis quae magnam aliquam distinctio magni impedit facere dolore provident commodi excepturi optio natus voluptates explicabo ipsum, iste dignissimos? Voluptatem iste explicabo soluta. Natus ad iste officiis adipisci esse. Ea consequatur, accusamus sit nihil incidunt exercitationem odit, nobis aliquid explicabo quis ipsa quo ratione, est quae suscipit obcaecati. Necessitatibus aliquid deleniti accusamus numquam dolorum ut!
        </p>
        
        <h1 id = "ir_menu"> Menu </h1>
        <ul>        
          <li *ngFor = "let producto of productos">
            <!--<p>id_grupo = </p>
            {{producto.getId_grupo()}}
            <p> DATOS DEL ID DEL PRODUCTO => {{producto.id.id_grupo}} | {{producto.id.id}}</p> -->
              <p> DATOS DEL PRODUCTO => | {{producto.nombre}} => ${{producto.precio}} </p>
              <p>PRODUCTO ID_GRUPO =  {{producto.id_general.id}}  </p>
          </li>  
      </ul>

        <h1 id = "ir_carta"> Carta </h1>
          
              <h5> LLEGUE A LA CARTA </h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium incidunt fugit voluptates mollitia adipisci amet dicta dignissimos consequatur sunt vitae quaerat commodi error exercitationem magni earum iure, delectus deleniti autem perspiciatis! Voluptatem fugit laborum culpa, dolorem nesciunt eos labore modi perspiciatis quae magnam aliquam distinctio magni impedit facere dolore provident commodi excepturi optio natus voluptates explicabo ipsum, iste dignissimos? Voluptatem iste explicabo soluta. Natus ad iste officiis adipisci esse. Ea consequatur, accusamus sit nihil incidunt exercitationem odit, nobis aliquid explicabo quis ipsa quo ratione, est quae suscipit obcaecati. Necessitatibus aliquid deleniti accusamus numquam dolorum ut!
              </p>
          
          <h1 id = "ir_tragos"> Tragos </h1>
              <h5>LLEGUE A TRAGOS</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium incidunt fugit voluptates mollitia adipisci amet dicta dignissimos consequatur sunt vitae quaerat commodi error exercitationem magni earum iure, delectus deleniti autem perspiciatis! Voluptatem fugit laborum culpa, dolorem nesciunt eos labore modi perspiciatis quae magnam aliquam distinctio magni impedit facere dolore provident commodi excepturi optio natus voluptates explicabo ipsum, iste dignissimos? Voluptatem iste explicabo soluta. Natus ad iste officiis adipisci esse. Ea consequatur, accusamus sit nihil incidunt exercitationem odit, nobis aliquid explicabo quis ipsa quo ratione, est quae suscipit obcaecati. Necessitatibus aliquid deleniti accusamus numquam dolorum ut!
              </p>
          <h1 id = "ir_quienessomos"> Quienes somos</h1>
              <h5>LLEGUE A QUIENES SOMOS</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium incidunt fugit voluptates mollitia adipisci amet dicta dignissimos consequatur sunt vitae quaerat commodi error exercitationem magni earum iure, delectus deleniti autem perspiciatis! Voluptatem fugit laborum culpa, dolorem nesciunt eos labore modi perspiciatis quae magnam aliquam distinctio magni impedit facere dolore provident commodi excepturi optio natus voluptates explicabo ipsum, iste dignissimos? Voluptatem iste explicabo soluta. Natus ad iste officiis adipisci esse. Ea consequatur, accusamus sit nihil incidunt exercitationem odit, nobis aliquid explicabo quis ipsa quo ratione, est quae suscipit obcaecati. Necessitatibus aliquid deleniti accusamus numquam dolorum ut!
              </p>
          <h1 id = "ir_contactenos"> Contactenos </h1>
            <h5>LLEGUE A CONTACTENOS</h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium incidunt fugit voluptates mollitia adipisci amet dicta dignissimos consequatur sunt vitae quaerat commodi error exercitationem magni earum iure, delectus deleniti autem perspiciatis! Voluptatem fugit laborum culpa, dolorem nesciunt eos labore modi perspiciatis quae magnam aliquam distinctio magni impedit facere dolore provident commodi excepturi optio natus voluptates explicabo ipsum, iste dignissimos? Voluptatem iste explicabo soluta. Natus ad iste officiis adipisci esse. Ea consequatur, accusamus sit nihil incidunt exercitationem odit, nobis aliquid explicabo quis ipsa quo ratione, est quae suscipit obcaecati. Necessitatibus aliquid deleniti accusamus numquam dolorum ut!
            </p>

</div>


<!--<router-outlet></router-outlet> -->
<nav> VER EL TEMA DE NAVEGACION 
    ver etiqueta tag
</nav>


<router-outlet> </router-outlet>